$brand-primary:         #967ADC;
$brand-success:         #A0D468;
$couleur-fond:			#e0e0e0;

@import "../public/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
  margin: 0;
  background: $couleur-fond;
}

h3 {
	color: #fff;
}
h4 {
	color: #fff;
}