<section data-ng-controller="QuizzsController">
	<div class="page-header">
		<h1>Nouveau Quizz</h1>
	</div>
	<div class="col-md-12">
		<form name="quizzForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
			
		    <br>
		      <!--<pre>Selected time and date is: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></pre>-->

		      <date-time-picker min-date="minDate" show-weeks="showWeeks" hour-step="1" minute-step="1" ng-model="date" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></date-time-picker>
				<div class="form-group" ng-class="{ 'has-error': quizzForm.title.$dirty && quizzForm.title.$invalid }">
					<label class="control-label" for="title">Titre</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="title">Type</label>
					<div class="controls">
						<select name="type" id="type" class="form-control" required="required">
							<option value="TLMVPSP">Tout le monde veut prendre sa place</option>
							<option value="Classique">Classique</option>
							<option value="MotsCroises">Mots croisés</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="rate">Difficulté</label>
					<div class="radio">

						<label>
							<input type="radio" name="rate" id="input" value="1" checked="checked">
							1<br>
							<input type="radio" name="rate" id="input" value="2">
							2<br>
							<input type="radio" name="rate" id="input" value="3">
							3<br>
							<input type="radio" name="rate" id="input" value="4">
							4<br>
							<input type="radio" name="rate" id="input" value="5">
							5
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="course">Matière</label>
					<div class="controls">
						<select name="type" id="type" class="form-control" required="required">
							<option value="General">Général</option>
							<option value="1">1</option>
							<option value="2">2</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Description</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="beginDate">Date de début</label>
					<input type="date" name="" id="input" class="form-control" value="beginDate" required="required" title="beginDate">
				</div>
				<div class="form-group">
					<label class="control-label" for="endDate">Date de fin</label>
					<input type="date" name="" id="input" class="form-control" value="endDate" required="required" title="endDate">
				</div>
				

<!--- DEBUT QUESTIONS/REPONSES QUIZZ -->

					<section id="todoapp" >
						<h1>Questions du quizz</h1>
						
						<input id="new-question" placeholder="Question" autofocus autocomplete="off" ng-model="newQuestion">
						<input type="text" id="reponse" placeholder="Response attendu" ng-model="newGoodAnswer">
						<ul class="list-group">

							<li ng-repeat="answer in answers">
								<label>{{answer.answer}}</label>
								<button type="button" class="btn btn-default" ng-click="removeAnswer($index)">Suprimez</button>
							</li>
							<li>
								<input type="text" id="new-answer" placeholder="propsition" ng-model="newAnswer">
								<button type="button" class="btn btn-default" ng-click="addAnswer()">ajouter une reponse</button>
							</li>
						</ul>
						<button type="button" class="btn btn-default" ng-click="addQuestion()">ajouter la question</button>

						<h4><strong>Nombre de questions ajoutées dans le quizz : {{nbQuestion}} questions créées</strong></h4>

						<ul id="list-question">
							<li ng-repeat="question in questions">
								<label>{{question.title}}</label>
								<label>{{question.answer}}</label>
								<button type="button" class="btn btn-default"ng-click="removeQuestion($index)">Suprimez</button>
								<ul class="list-group">
									<li ng-repeat="proposition in question.propositions">
										<label>proposition fausse : {{proposition.answer}}</label>
									</li>
								</ul>
							</li>
						</ul>
					</section>


<!--- FIN QUESTIONS/REPONSES QUIZZ -->
				</div>
				<div class="form-group">
					<input type="submit" value="Valider"class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>