<section data-ng-controller="QuizzsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Liste des quizzs 
			<a type="button" class="newQuizz pull-right btn btn-sm btn-success" href="/#!/quizzs/create">
				<i class="glyphicon glyphicon-plus">
				</i> Créer un nouveau quizz
			</a>
		</h1>
	</div>

	<div ng-controller="TableIntelController">
		<div data-ng-if="quizzs.length">
		<div class="panel panel-default"> <!-- Un panel autour d'un tableau rend le tableau arrondi (workaround) -->
		<table st-table="displayedCollection" st-safe-src="quizzs" class="table table-striped table-bordered tableListQuizzs">
				<thead>
					<tr>
						<th colspan="7">
							<div class="recherche-nom input-group input-group-justified">
								<div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
								<input st-search="name" class="form-control" placeholder="Rechercher par nom ..." type="text"/>
							</div>
						</th>
					</tr>
					<tr class="tableHeaders">
						<th st-sort="name">Nom</th>
						<th st-sort="course">Matière</th>
						<th st-sort="rate">Difficulté</th>
						<th st-sort="questions">Nombre de questions</th>
						<th st-sort="created">Date de création</th>
						<th st-sort="creator.displayName">Auteur</th>
						<th class="noStyle"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="quizz in displayedCollection" ng-click="showQuizz(quizz)">
						<td>{{quizz.name}}</td>
						<td>{{quizz.course}}</td>
						<td>
							<div class="stars">
								<rating ng-model="quizz.rate" max="5" state-on="overstar" state-off="overstar = null" enable="false" readonly="true"></rating>
							</div>
						</td>
						<td>{{quizz.questions.length}}</td>
						<td>{{quizz.created | date:'mediumDate'}}</span></td>
						<td>{{quizz.creator.displayName}}</td>
						<td>
							<a tooltip="Modifier" ng-click="editClick()" class="btn btn-default" href="/#!/quizzs/{{quizz._id}}/edit" data-ng-show="authentication.user._id == quizz.creator._id">
								<i class="glyphicon glyphicon-edit"></i>
							</a>
							<button tooltip="Supprimer" type="button" data-ng-click="remove(quizz);" class="btn btn-sm btn-danger" data-ng-show="authentication.user._id == quizz.creator._id">
								<i class="glyphicon glyphicon-trash">
								</i>
							</button>
							<a tooltip="Jouer" class="btn btn-success" href="/#!/quizzs/{{quizz._id}}" data-ng-hide="authentication.user._id == quizz.creator._id">
								<i class="glyphicon glyphicon-play"></i>
							</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7" class="text-center" >
							<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		</div>
		<div class="alert alert-warning text-center" data-ng-if="quizzs.$resolved && !quizzs.length">
			Vous n'avez pas encore créé de quizzs ! Pourquoi n'en <a href="/#!/quizzs/create">créez vous</a> pas un ?
		</div>
	</section>