<section data-ng-controller="QuizzsController" data-ng-init="findOne()">

	<div data-ng-controller="PlayQuizzController">

		<div class="page-header">
			<h1 data-ng-bind="quizz.name"></h1>
		</div>

		<div class="pull-right" data-ng-show="authentication.user._id == quizz.creator._id">

			<a class="btn btn-default" href="/#!/quizzs/{{quizz._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>

		</div>

		<small>
			<em class="text-muted">
				Créé le
				<span data-ng-bind="quizz.created | date:'mediumDate'"></span>
				par
				<span data-ng-bind="quizz.creator.displayName"></span>
			</em>
		</small>


		<h1 class="lead"><small>{{quizz.description}}</small></h1>
	<p>Difficulté : 
		<div class="stars">
			<rating ng-model="quizz.rate" max="5" state-on="overstar" state-off="overstar = null" enable="false" readonly="true"></rating>
		</div>
	</p>

	<div>
		<h1> Question n°{{actualQuestion+1}}  sur {{quizz.questions.length}}  </h1>
		<span> Intitulé : {{quizz.questions[actualQuestion].label}} </span>
		
		<ul class="list-group">
			<li ng-repeat="answer in quizz.questions[actualQuestion].answers ">
				<input type="checkbox" ng-model = "questions[actualQuestion].reponse[$index]">
				<label>{{answer.label}}</label>
			</li>
		</ul>

	</div>

	<button type="button" class="btn btn-default" ng-click= "previousQuestion()" ng-hide ="debut"> Question precedente </button>
	<button type="button" class="btn btn-default" ng-click= "nextQuestion()" ng-hide = "fin"> Question suivante </button>
	<button type="button" class="btn btn-default" ng-click= "terminerQuizz()" ng-show = "fin"> Terminer le quizz </button>
</section>