<section data-ng-controller="QuizzsController" data-ng-init="findOne()">
	<div data-ng-controller="UpdateValidateQuizzController">
		<div class="page-header">
			<a href="/#!/quizzs/{{quizz._id}}/edit/question" class="pull-right btn btn-primary" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Etape précédente</a>
			<h1>Quizz modifié : {{quizz.name}}</h1>
		</div>

		<div class="alert alert-danger" role="alert" data-ng-show="error" data-ng-bind="error"></div>

		<div class="container">
			<form name="quizzForm" class="form-horizontal" data-ng-submit="create()" novalidate  data-ng-controller="QuizzsController">
				<fieldset>

					<div class="form-group">
						<p>{{quizz.description}}</p>
					</div>

					<div class="form-group">
						<label class="control-label" for="title">Type : {{quizz.typeQuizz}}</label>
					</div>

					<div class="form-group">
						<label class="control-label" for="rate">Difficulté</label>
						<div class="stars">
							<rating ng-model="quizz.rate" max="5" state-on="overstar" state-off="overstar = null" enable="false" readonly="true"></rating>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label" for="course">Matière : {{quizz.course}}</label>
					</div>

					<div class="form-group">
						<label class="control-label" for="beginDate">Date de début : {{quizz.beginDate | date : 'dd MMMM yyyy à HH:mm'}}</label>
					</div>

					<div class="form-group" ng-show ="quizz.endDate">
						<label class="control-label" for="endDate">Date de fin : {{quizz.endDate | date : 'dd MMMM yyyy à HH:mm'}}</label>
					</div>

					<div class="form-group">
						<h2>Questions :</h2>	

						<div class="panel panel-default" ng-repeat="question in quizz.questions">
							<div class="panel-heading">
								<h3 class="panel-title titrePanel">{{question.label}}</h3>
							</div>
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="answer in question.answers" ng-class="{ 'is-correct': answer.isCorrect }">
									<p>{{answer.label}}</p>
								</li>
							</ul>
						</div>
					</div>

					<div class="form-group">
						<a href="/#!/quizzs" class="btn btn-primary" role="button">Retourner aux quizzs</a>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</section>