<section data-ng-controller="ValidateQuizzController">
	
	<div class="page-header">
		<h1>Nouveau Quizz</h1>
	</div>

	<div class="col-md-12">
		<a href="/#!/quizzs/create/questions" class="btn btn-default" role="button">Etape précédente</a>
		<form name="quizzForm" class="form-horizontal" data-ng-submit="create()" novalidate ng-controller="CreateQuizzController">
			<fieldset>

				<div class="form-group" ng-class="{ 'has-error': quizzForm.title.$dirty && quizzForm.title.$invalid }">
					<h1>{{quizzInfo.name}}</h1>
					<p>{{quizzInfo.description}}</p>
				</div>

				<div class="form-group">
					<label class="control-label" for="title">Type : {{quizzInfo.typeQuizz}}</label>
				</div>

				<div class="form-group">
					<label class="control-label" for="rate">Difficulté</label>
					<div class="stars">
						<rating ng-model="quizzInfo.rate" max="5" state-on="overstar" state-off="overstar = null" enable="false" readonly="true"></rating>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="course">Matière : {{quizzInfo.course}}</label>
				</div>

				<div class="form-group">
					<label class="control-label" for="beginDate">Date de début : {{quizzInfo.beginDate | date : 'dd MMMM yyyy à HH:mm'}}</label>
				</div>

				<div class="form-group" ng-show ="quizzInfo.endDate">
					<label class="control-label" for="endDate">Date de fin : {{quizzInfo.endDate | date : 'dd MMMM yyyy à HH:mm'}}</label>
				</div>

				<div class="form-group">
					<h2>Questions :</h2>	

					<ul class="list-group">
						<li ng-repeat="question in quizzQuestions">
							<p>{{question.label}}</p>

							<ul>
								<li ng-repeat="answer in question.answers">
									<p>{{answer.label}}</p>
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-model="answer.isCorrect" enabled="false">
											Correct
										</label>
									</div>
								</li>
							</ul>

						</li>
					</ul>

				</div>

				<div class="form-group">
					<input type="submit" value="Valider"class="btn btn-default">
				</div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

			</fieldset>
		</form>
	</div>

</section>