<section class="col-md-offset-3 col-md-6 text-center" data-ng-controller="SettingsController">
	<div class="panel panelType panel-default ">
		<div class="panel-heading">
	<h3 class="panel-title titrePanel">Changez votre mot de passe</h3>
	</div>
	<div class="panel-body text-left">
		<form data-ng-submit="changeUserPassword()" class="signin form-horizontal container-fluid" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword">Mot de passe courant</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Mot de passe courant">
				</div>
				<div class="form-group">
					<label for="newPassword">Nouveau mot de passe</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Nouveau mot de passe">
				</div>
				<div class="form-group">
					<label for="verifyPassword">Entrez le à nouveau</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Nouveau mot de passe">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sauvegarder</button>
				</div>
			</fieldset>
		</form>
		<div class="alert alert-danger" role="alert" data-ng-show="error" data-ng-bind="error"></div>
		<div class="alert alert-success" role="alert" data-ng-show="success" data-ng-bind="success"></div>
	</div>
	</div>
</section>