<section data-ng-controller="ResultatsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="resultat.name"></h1>
	</div>
	<small>
			Joué le 
			<span data-ng-bind="resultat.played | date:'medium'"></span>
			par
			<span data-ng-bind="resultat.user.displayName"></span>
			</small>
            <p>Quizz : {{resultat.quizz}}</p>
            <p>Quizz : {{resultat.quizz.name}}</p>
            <pre>Quizz : {{resultat.quizz.questions}}</pre>
            <ul data-ng-repeat="question in resultat.quizz.questions">
                <li>{{question.label}}</li>
                <li>{{question.answers}}</li>
            </ul>
            <p>Difficulté du quizz : {{resultat.quizz.rate}}</p>
            <p>Pourcentage : {{resultat.pourcentage}}</p>
			<pre>Réponses : {{resultat.reponses}}</pre>
	</small>
</section>
